body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: century;
}
ul{
    float:right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 60px;
    font-size: 17px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:rgb(252, 40, 2);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: rgb(216, 253, 7);
}

ul li.active a{
    background-color: blue;
}
.logo img{
    float:left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h2{
    font-size: 30px;

}
.title h1{
    color: rgb(253, 146, 7);
    font-size: 50px;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid brown ;
    padding: 5px 20px;
    color: black;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration:none;
}
.btn:hover{
    background-color: darkgreen;   
}

